include README.md
recursive-include octoprint_stretchingstagecontroller/templates *
recursive-include octoprint_stretchingstagecontroller/translations *
recursive-include octoprint_stretchingstagecontroller/static *
