<!DOCTYPE html>
<body>
	<h1> Stretching Stage Controller </h1>
		<label class="control-label">{{ _('Serial Port') }}</label>
        <div class="portList">
            <div>
                <button class="btn btn-primary" data-bind="click:fetchPorts">Fetch Com Ports</button>
            </div>

            {#data-bind="visible: portOptions.length > 0#}
            <div data-bind="foreach: listOfPorts">
                <input type="checkbox" value="" data-bind="checked: $parent.selectedPorts, value: port">
                <span data-bind="text: port"></span>
            </div>
        </div>
        <div class="input-append">
            <div class="controls">
                <input type="text" data-bind="value: newPort">
                <button class="btn btn-primary" data-bind="click:connectCOM, enable: dataPortConnected() == false">{{ _('Connect COM') }}</button>
                <button class="btn btn-primary" data-bind="click:disconnectCOM, enable: dataPortConnected() == true">{{ _('Disconnect COM') }}</button>
            </div>
        </div>
		<p>Output filename: </p>
			<div class="input-append">
		    	<input type="text" data-bind="value: newFileName">
		    	<button class="btn btn-primary" data-bind="click: validateSettings">{{ _('Validate Filename') }}</button>
			</div>
</body>

<!-- Modal-Dialog -->
<div id="sidebar_noComWarningDialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Warning: Data collection device not connected</h3>
    </div>
    <div class="modal-body">
        <p>No data will be saved for this print. Would you like to continue?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger btn-confirm">Confirm</button>
    </div>
</div>

<!-- Modal-Dialog -->
<div id="sidebar_filePathNotValidated" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Warning: File Path Not Validated</h3>
    </div>
    <div class="modal-body">
        <p>To save, file path must first be validated on the Stretching Stage Controller tab. No data will be saved for this print. Would you like to continue?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger btn-confirm">Confirm</button>
    </div>
</div>

<!-- Modal-Dialog -->
<div id="sidebar_startPrintDialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Ready to Print?</h3>
    </div>
    <div class="modal-body">
        <p>Data will be saved to </p>
        <span data-bind="text: settings.settings.plugins.stretchingstagecontroller.save_path()"></span>
        <span data-bind="text: saveFileName"></span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-confirm">Confirm</button>
    </div>
</div>


